@import "../../../styles/index.scss";

.background {

    :global(.MuiDrawer-root)    {
        width: 600px;
    }
    .sideDrawerBackIcon {
        :global(.MuiSvgIcon-root)   {
            fill: $commonGrey;
        }
    }
    .sideDrawerIcon {
        :global(.MuiSvgIcon-root)   {
            fill: $commonGrey;
            width: 30px;
            height: 30px;
        }
    }
    .logoImage  {
        width: 50px;
        height: 50px;
    }
}